.dept-main-div {
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dept-container {
  width: 20vh;
  height: 20vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dept-link {
  text-decoration: none;
  color: black;
  font-size: 3vh;
}
